<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/320390125a.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
  <title>BoolzApp</title>
</head>
<body class="d-flex flex-column vh-100">

  <!-- Header di sfondo -->
  <header class="ps-header"></header>

  <!-- Main di Sfondo -->
  <main class="ps-main"></main>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- Inizio BoolzApp -->
  <div class="boolzapp d-flex flex-column" id="app">

    <!-- Inizio Header BoolzApp -->
    <header class="header-bapp d-flex">

      <!-- Inizio Header User -->
      <div class="header-user d-flex justify-content-between align-items-center">

        <!-- Inizio User -->
        <div class="user d-flex align-items-center">
          <div class="user-avatar">
            <img src="./img/AvatarNormal.jpg">
          </div>

          <div class="user-info">
            <div class="user-name">
              Fede
            </div>
          </div>

        </div>
        <!-- Fine User -->

        <!-- Inizio Icons -->
        <div class="icons">
          <ul class="list-icons d-flex p-0 m-0">
            <li><i class="fa-solid fa-circle-notch"></i></li>
            <li><i class="fa-solid fa-message"></i></li>
            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
          </ul>
        </div>
        <!-- Fine Icons -->

      </div>
      <!-- Fine Header User -->

      <!-- Inizio Header Chat -->
      <div class="header-chat d-flex justify-content-between align-items-center">

        <!-- Inizio User -->
        <div class="user d-flex align-items-center">
          <div class="user-avatar">
            <img src="./img/Atem 2.jpg">    
          </div>

          <div class="user-info">
            <div class="user-name">
              Pharaon Atem
            </div>
            <div class="user-access">
              Ultimo accesso oggi alle 12:00
            </div>
          </div>

        </div>
        <!-- Fine User -->

        <!-- Inizio Icons -->
        <div class="icons">
          <ul class="list-icons d-flex p-0 m-0">
            <li><i class="fa-solid fa-magnifying-glass"></i></li>
            <li><i class="fa-solid fa-paperclip"></i></li>
            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
          </ul>
        </div>
        <!-- Fine Icons -->
        
      </div>
      <!-- Fine Header Chat -->

    </header>
    <!-- Fine Header BoolzApp -->

    <!-- Inizio Main BoolzApp -->
    <main class="main-bapp d-flex">

      <!-- Inizio Main User -->
      <div class="main-user d-flex flex-column">
        
        <!-- Inizio User Notifications -->
        <div class="user-notif d-flex align-items-center">

          <div class="notif-avatar d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-bell-slash"></i>   
          </div>

          <div class="notif-info">
            <div class="notif-text">
              Ricevi notifiche di nuovi messaggi
            </div>
            <div class="notif-subtext text-decoration-underline">
              Attiva notifiche desktop
            </div>
          </div>
          
        </div>
        <!-- Fine User Notifications -->

        <!-- Inizio User Search -->
        <div class="user-search">
          <div class="input-group">
            <span class="input-group-text">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat">
          </div>
        </div>
        <!-- Fine User Search -->

        <!-- Inizio User Contacts -->
        <div class="user-contacts flex-grow-1 d-flex flex-column">
          <div class="user-contact d-flex justify-content-between" :class="(index===indexCurrent) ? 'active' : '' " 
            v-for="(contact,index) in contacts" @click="changeAccount(index)">

            <div class="user d-flex">
              <div class="user-avatar">
                <img :src="contacts[index].avatar">   
              </div>
    
              <div class="user-info">
                <div class="user-name">
                  {{contacts[index].name}}
                </div>
                <div class="user-access">
                  Ultimo messaggio inviato
                </div>
              </div>
            </div>

            <div class="user-time">
              12:00
            </div>
          </div>
          
        </div>
        <!-- Fine User Contacts -->

      </div>
      <!-- Fine Main User -->

      <!-- Inizio Main Chat -->
      <div class="main-chat d-flex flex-column">

        <!-- Inizio Chat Message -->
        <div class="chat-message flex-grow-1">
          
          <ul class="chat p-0 m-0 d-flex flex-column align-items-center">
            <li class="message" :class="mex.status" 
            v-for="mex in contacts[indexCurrent].messages"> 

              {{mex.message}}

              <span class="user-time">{{mex.date.substring(11,16)}}</span>
            </li>
          </ul>
        </div>
        <!-- Fine Chat Message -->

        <!-- Inizio Chat Bar -->
        <div class="chat-bar d-flex">
          <div class="col-auto">
            <i class="fa-regular fa-face-smile"></i>
          </div>

          <div class="col">
            <input type="text" class="form-control" placeholder="Scrivi un messaggio">
          </div>

          <div class="col-auto">
            <i class="fa-solid fa-microphone"></i>
          </div>
        </div>
        <!-- Fine Chat Bar -->
        
      </div>
      <!-- Fine Main Chat -->

    </main>
    <!-- Fine Main BoolzApp -->
    
    
  </div>
  <!-- Fine BoolzApp -->

  
  <script src="./js/script.js"></script>
</body>
</html>